/* Media query for mobile devices */
@media (max-width: 768px) {
  .mobile_container {
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 3em;
    padding-bottom: 5em;
    font-size: 15px;
  }
}
